body{
    background-color: #6a1b9a;    
}

.morado{
    background-color: #ba68c8;    
}
.moradooscuro{
    font-family: 'Tangerine',serif;
    background-color: #36006b;
    color: white;
}
h3{
    color: black;
}
a{
    color: white;
}
